<body id="HomeBack">
@{
    ViewData["Title"] = "Home Page";
}
<form>
  <div class="row justify-content-center" style="margin-top:20%;" >
    <label for="exampleInputEmail1">Nombre</label>
    <input type="pasword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu nombre">
  </div>
    <button type="alert" class="btn btn-primary" >Jugar</button>
</form>
</body>
