<body id="HomeBAck">
<div class="row justify-content-center" id="JumbPreguntas">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4" id="Opciones">
      <button type="button" class="btn btn-warning btn-lg btn-block">Hola como estas</button>
    </div>
    <div class="col-sm-4" id="Opciones">
      <button type="button" class="btn btn-warning btn-lg btn-block" >

      </button>
    </div>
  </div>
    <div class="row justify-content-center">
    <div class="col-sm-4" id="Opciones">
     <button type="button" class="btn btn-warning btn-lg btn-block">

     </button>
    </div>
    <div class="col-sm-4" id="Opciones">
            <button type="button" class="btn btn-warning btn-lg btn-block"> 
        
      </button>
    </div>
  </div>
</div>
</body>
