<body id="HomeBackPregunta">
   <div class="row justify-content-center" id="JumbPreguntas">
    <div class="jumbotron jumbotron-fluid" id="idJumbo">
      <div class="container">
        <h3 class="display-4">¿A que se dedica el verdadero ruclot?</h3>
      </div>
     </div>
    </div>
   <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-4" id="Opciones">
        <div class="boxPregunta"> Lauti se dedica a jugar a las ligas de las leyendas </div>
      </div>
      <div class="col-sm-4" id="Opciones">
        <div class="boxPregunta"> Lauti se dedica a jugar a las ligas de las leyendas </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4" id="Opciones">
        <div class="boxPregunta"> Lauti se dedica a jugar a las ligas de las leyendas </div>
      </div>
      <div class="col-sm-4" id="Opciones">
        <div class="boxPregunta"> Lauti se dedica a jugar a las ligas de las leyendas </div>
      </div>
    </div>
   </div>
   <ul class="list-group">
    <div class="pozo">
     <li class="list-group-item">1.000.000</li>
     <li class="list-group-item">500.000</li>
     <li class="list-group-item">250.000</li>
     <li class="list-group-item">100.000</li>
     <li class="list-group-item">1000</li>
    </div>
   </ul>
</body>
