html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#HomeBack{
  background-image:url("./../HomeBackground.jpg");
  background-size: cover;   
}
.Logo{
  width:5%;
  height: auto;
}
#JumbPreguntas
{
  margin-top: 10%;
  margin-left: 20%;
}

#Opciones
{

  margin-top: 10%;
}
